# Flask
instance/*
!instance/.gitignore
uploads/
.webassets-cache
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
*.egg
.venv
env/
venv/
ENV/
.pytest_cache/
*.pyc

# IDE
.idea/

# OS
Thumbs.db
[Dd]esktop.ini
*.lnk

# Project
.flask_pid
serve.py
.tmp/
terminal-*.png
*.log
flask_err.txt
flask_out.txt
